# =========================================================
# CODELENS AI BACKEND
# =========================================================

APP_NAME=CodeLens AI API
APP_VERSION=1.0.0

ENVIRONMENT=development
DEBUG=true


# =========================================================
# CORS
# =========================================================

CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173


# =========================================================
# GITHUB
# =========================================================

GITHUB_TOKEN=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


# =========================================================
# GROQ
# =========================================================

GROQ_API_KEY=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

GROQ_MODEL=openai/gpt-oss-120b